
@{
    ViewData["Title"] = "AddCustomer";
}

<br />

@using (Html.BeginForm())
{
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-group">
        @Html.Label("Imie")
        @Html.TextBox("Customer.Name")
    </div>
    <div class="form-group">
        @Html.Label("Nazwisko")
        @Html.TextBox("Customer.Surname")
    </div>
    <div class="form-group">
        @Html.Label("Narodowość")
        @Html.TextBox("Customer.Country")
    </div>
    <div class="form-group">
        @Html.Label("City")
        @Html.TextBox("Customer.City")
    </div>
    <div class="form-group">
        @Html.Label("Adres")
        @Html.TextBox("Customer.Address")
    </div>
    <div class="form-group">
        @Html.Label("Kod pocztowy")
        @Html.TextBox("Customer.ZipCode")
    </div>
    <div class="form-group">
        @Html.Label("Typ dokumentu")
        @Html.TextBox("Customer.DocType")
    </div>
    <div class="form-group">
        @Html.Label("Numer dokumentu")
        @Html.TextBox("Customer.DocNo")
    </div>
    <div class="form-group">
        @Html.Label("Marka samochodu")
        @Html.TextBox("Customer.CustCarBrand")
    </div>
    <div class="form-group">
        @Html.Label("Model samochodu")
        @Html.TextBox("Customer.CustCarModel")
    </div>
    <div class="form-group">
        @Html.Label("Data produkcji")
        @Html.TextBox("Customer.CustCarProdDate")
    </div>
    <div class="form-group">
        @Html.Label("Pojemność silnika")
        @Html.TextBox("Customer.CustCarCapacity")
    </div>
    <div class="form-group">
        @Html.Label("Moc")
        @Html.TextBox("Customer.CustCarHorsepower")
    </div>
    <div class="form-group">
        @Html.Label("Numer VIN")
        @Html.TextBox("Customer.Vin")
    </div>
    <div class="form-group">
        @Html.Label("Opis")
        @Html.TextBox("Customer.CustCarDescription")
    </div>
</div>

    <input type="submit" value="Dodaj" class="btn btn-primary" />
    @Html.ActionLink("Wroc", "Index", (object)null, new { @class = "btn btn-danger" })
}
